[Unit]
Description = co2mini exporter
Wants = dev-co2mini.device
After = dev-co2mini.device

[Service]
ExecStart = /usr/local/bin/co2mini_exporter
Restart = always
Type = simple
User = co2mini_exporter
Group = plugdev

[Install]
WantedBy = multi-user.target
